<div class="loklik container">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="#" class="nav-link {{if this.showingCuratedPosts "active"}}" onclick={{action "showCuratedPosts"}}>精选帖子管理</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link {{if this.showingConfig "active"}}" onclick={{action "showConfig"}}>金刚区配置</a>
    </li>
  </ul>

  <div class="content">
    <div id="curated-posts" class="content-section" style={{if this.showingCuratedPosts "display: block" "display: none"}}>
      {{!-- <h3>精选帖子管理</h3> --}}
      <div class="search-controls">
        <div class="items">
          <label>标题</label>
          <TextField @value={{this.titleSearch}} @oninput={{action (mut this.titleSearch) value="target.value" }} />
        </div>
        <div class="items">
          <label>精选</label>
          <ComboBox @content={{this.curatedoptions}} @value={{this.isCurated}} @onChange={{action (mut this.isCurated)
            id="target.id" }} />
        </div>
        <div class="items">
          <button class="btn btn-primary" {{action "search" }}>搜索</button>
          <button class="btn btn-secondary" {{action "reset" }}>重置</button>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>标题</th>
            <th>作者</th>
            <th>精选时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.filteredItems as |item|}}
            <tr>
              <td>{{item.id}}</td>
              <td><a href="/t/topic/{{item.id}}">{{item.show_title}}</a></td>
              <td>{{item.author}}</td>
               <td>{{item.show_updated_at}}</td>
              <td>
                {{#if (eq item.is_curated 1)}}
                  <button class="btn btn-primary" {{action "curated" item 0}}>取消精选</button>
                {{else}}
                  <button class="btn btn-success" {{action "curated" item 1}}>加入精选</button>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <div class="pagination">
        <button class="btn btn-secondary" {{action "goPerPage" this.current}}>上一页</button>
        <span>第 {{this.current}} 页 / 共 {{this.totalPage}} 页</span>
        <button class="btn btn-secondary" {{action "goNextPage" this.current}}>下一页</button>
      </div>
    </div>

    <div id="config" class="content-section" style={{if this.showingConfig "display: block" "display: none"}}>
      {{!-- <h3>金刚区配置</h3> --}}

      <form id="your-plugin-settings-form">
        <div class="form-group">
          <label for="label1">论坛1:</label>
          <ComboBox class="fixed-width-select" @content={{this.categoryList}} @value={{this.selectedId0}} @onChange={{this.updateSelectedCategory0}} />
        </div>

        <div class="form-group">
          <label for="label2">论坛2:</label>
          <ComboBox class="fixed-width-select" @content={{this.categoryList}} @value={{this.selectedId1}}
            @onChange={{this.updateSelectedCategory1}} />
        </div>

        <div class="form-group">
          <label for="label3">论坛3:</label>
          <ComboBox class="fixed-width-select" @content={{this.categoryList}} @value={{this.selectedId2}}
            @onChange={{this.updateSelectedCategory2}} />
        </div>

        <button type="button" class="btn btn-primary" {{action "setSelectedCategories"}}>保存</button>
      </form>
    </div>
  </div>
</div>
