<h1>精选帖子管理</h1>

<div class="search-controls">
  <label>标题</label>
  <input type="text" placeholder="标题" value={{this.titleSearch}} oninput={{action (mut this.titleSearch) value="target.value"}} />

  <label>精选</label>
  <select value={{this.isCurated}}  onchange={{action (mut this.isCurated) value="target.value"}}>
    <option value="">请选择</option>
    <option value="1">是</option>
    <option value="0">否</option>
  </select>

  <button {{action "search"}}>搜索</button>
  <button {{action "reset"}}>重置</button>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>标题</th>
      <th>作者</th>
{{!--       <th>创建时间</th> --}}
      <th>操作</th>
{{!--       <th>操作人</th> --}}
{{!--       <th>操作时间</th> --}}
    </tr>
  </thead>
  <tbody>
    {{#each this.filteredItems as |item|}}
      <tr>
        <td>{{item.id}}</td>
        <td><a href="/t/topic/{{item.id}}">{{item.title}}</a></td>
        <td>{{item.author}}</td>
{{!--         <td>{{item.created_at}}</td> --}}
        <td>
          {{#if (eq item.is_curated 1)}}
            <button {{action "curated" item 0}}>取消精选</button>
          {{else}}
            <button {{action "curated" item 1}}>加精选</button>
          {{/if}}
        </td>
{{!--         <td>{{item.operator}}</td> --}}
{{!--         <td>{{item.updated_at}}</td> --}}
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="pagination">
  <button {{action "goPerPage" this.current}}>上一页</button>
  <span>第 {{this.current}} 页 / 共 {{this.totalPage}} 页</span>
  <button {{action "goNextPage" this.current}}>下一页</button>
</div>

<h1></h1>
<h1>金刚区配置</h1>

<form id="your-plugin-settings-form">
  <div class="form-group">
    <label for="label1">论坛1:</label>
    <select value={{this.selectedCategoryList.[0].categories_id}}  onchange={{action "updateSelectedCategory0" value="target.value"}}>
      <option value="0">未配置</option>
      {{#each this.categoryList as |category|}}
        <option value="{{category.id}}">{{category.name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="label2">论坛2:</label>
    <select value={{this.selectedCategoryList.[1].categories_id}} onchange={{action "updateSelectedCategory1" value="target.value"}}>
      <option value="0">未配置</option>
        {{#each categoryList as |category|}}
      <option value="{{category.id}}">{{category.name}}</option>
    {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="label3">论坛3:</label>
    <select value={{this.selectedCategoryList.[2].categories_id}}  onchange={{action "updateSelectedCategory2" value="target.value"}}>
      <option value="0">未配置</option>
        {{#each categoryList as |category|}}
          <option value="{{category.id}}">{{category.name}}</option>
        {{/each}}
    </select>
  </div>

  <button type="button" {{action "setSelectedCategories"}} >保存</button>
</form>